{% extends 'IMSysTurBundle:Default:base.html.twig' %}

{% block title %}
    <title>{{ parameters.sysName}} :: Editar Documento</title>
{% endblock %}

{% block content %}
<div class="banner-in">
    <div class="container">
	<div class="banner-top">
            <h6><a href="index.html">EDITAR DOCUMENTO</a> / <span>ADMINISTRACION</span></h6>
	</div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="content-top">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Ut in consectetur est, sit amet tincidunt leo. 
                Proin sit amet ultrices ligula. Phasellus nec elementum erat. 
                In hac habitasse platea dictumst. 
                In consequat vel ex vel facilisis. 
                Morbi iaculis dictum varius. 
                Curabitur ut orci a erat viverra cursus ut at ligula. 
                Integer ut venenatis mauris, nec ultrices justo.
            </p>
            <p>&nbsp;</p>

            <div class="bevel2">
                <div class="contact-grid">
                    {# form start #}
                    {{ form_start(edit_form) }}

                    {# errores #}
                    <div class="errores">
                        {{ form_errors(edit_form) }}
                    </div>

                    {# bloque de datos #}
                    <div class="col-6">
                        {{ form_label(edit_form.tipoDocumento, 'Tipo de documento') }}
                        {{ form_widget(edit_form.tipoDocumento) }}
                    </div>
                    <div class="col-6">
                        {{ form_label(edit_form.numero, 'Número de Documento') }}
                        {{ form_widget(edit_form.numero) }}
                    </div>

                    {# bloque de datos #}
                    <div class="col-6">
                        {{ form_label(edit_form.fechaEmision, 'Fecha de Emisión') }}
                        {{ form_widget(edit_form.fechaEmision, {'attr': {'class': 'fecha'}}) }}
                    </div>                    
                    <div class="col-6">
                        {{ form_label(edit_form.fechaVencimiento, 'Fecha de Vencimiento') }}
                        {{ form_widget(edit_form.fechaVencimiento, {'attr': {'class': 'fecha'}}) }}
                    </div>
                    
                    {# bloque de datos #}
                    <div class="col-12">
                        {{ form_label(edit_form.descripcion, 'Descripción') }}
                        {{ form_widget(edit_form.descripcion) }}
                    </div>

                    {# bloque de archivos adjuntos #}
                    <div class="col-12">
                        <label>Archivos adjuntos</label>
                        {% for attachement in attachements %}
                           <div class="col-2">
                                <div class="doc-attach">
                                    <a href="{{ asset(attachement.getWebPath) }}" target="blank"><img src="{{ asset(attachement.getWebPath) }}" /></a>
                                    <p>{{ attachement.nota }}</p>
                                    <a href="{{ path('IMSysTurBundle_deleteAttachement', {'id':attachement.id, 'filter':filter}) }}"><img class="icon" src="{{ asset('images/icons/deletered.png') }}" /></a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                        
                    {# bloque de botones de adjuntos #}
                    <div class="col-12">
                        <a class="sf-button" href="{{path('IMSysTurBundle_newAttachement', {'id_documento':entity.id, 'filter':filter})}}" >Agregar archivo</a>
                    </div>
                    
                    {# bloque de fin de formulario #}
                    <div class="col-12">
                        <div class="hide">{{ form_rest(edit_form) }}</div>
                        <p>&nbsp;</p>
                        <button class="sf-button" type="submit">Guardar datos</button>
                        <a class="sf-button" href="{{ path('IMSysTurBundle_EditCliente', {'id':entity.cliente.id,'filter':filter}) }}">Volver sin grabar</a>
                    </div>

                    {# fin del formulario #}
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
