{% extends '::base.html.twig' %}

{% block body -%}
    <h1>File</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Partida</th>
                <td>{{ entity.partida|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Retorno</th>
                <td>{{ entity.retorno|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Destino</th>
                <td>{{ entity.destino }}</td>
            </tr>
            <tr>
                <th>Fechaalta</th>
                <td>{{ entity.fechaAlta|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechabaja</th>
                <td>{{ entity.fechaBaja|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechamodificacion</th>
                <td>{{ entity.fechaModificacion|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_file') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_file_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
